body {
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, Roboto,
    'Segoe UI', Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'kern', 'liga', 'calt', 'pnum' 0, 'tnum', 'onum' 0,
    'lnum', 'dlig', 'case';
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

::selection {
  background: rgba(var(--fg-rgb), 0.99);
  color: rgba(var(--bg-rgb), 0.99);
}

@media (pointer: coarse) {
  /* disable selection on phones for app-like experience */
  *:not(input) {
    user-select: none;
  }
  /* add custom tap highlight */
  * {
    -webkit-tap-highlight-color: rgba(var(--fg-rgb), 0.1);
  }
}

.with-grid::after {
  position: absolute;
  z-index: 1;
  content: '';
  display: block;
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0.5;
  background-size: 8px 8px;
  background-position: 0 0;
  background-color: transparent;
  background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 93.749%,
      rgba(182, 182, 182, 0.66) 93.75%,
      rgba(182, 182, 182, 0.66) 100%
    ),
    linear-gradient(
      to right,
      transparent 0%,
      transparent 93.749%,
      rgba(182, 182, 182, 0.33) 93.75%,
      rgba(182, 182, 182, 0.33) 100%
    );
}
