html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* prettier-ignore */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  font-family: inherit;
}

body {
  font: normal normal 16px/1.33 sans-serif;
}
